<div class="container">
    <div class="col-md-7">
        <h1>Sakegram</h1>
        <h3>友達の写真をチェックしよう</h3>
        <%= render 'form', user: @user %>
    </div>
</div>

<div class="container">
    <div class="login">
        <h3>アカウントをお持ちですか？</h3>
        <%= link_to "ログインする" %>
    </div>
</div>