<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>写真を投稿する</h3>
        </div>    
        
        <div class="panel-body">    
            <%= render 'form', picture: @picture %>
        </div>
    </div>
</div>